{
  //babel预设，目的是为了方便配置，集成了多个插件
  "presets": [
    [
      "@babel/preset-env", 
      { 
        // 把 modules 设置为 false，就是告诉 babel 不要编译模块代语句。这会让 Babel 保留我们现有的 es2015 import/export 语句。
        "modules": false,
        // 让编译后的代码只包含需要的 polyfill，而不是全部引入，减少构建体积
        "useBuiltIns": "usage",
        // 指明corejs版本
        "corejs": 3
      }
    ],
    // 插件预设从右向左执行，因此将react的插件预设放在右边
    "@babel/preset-react"
  ],
  // babel插件，插件从左向右执行
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
