{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "proseWrap": "never",
  printWidth: 120,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
